## Introduction to Jupyter

Jupyter is a browser based environment for writing python. It is just the front end where we can write python programs and generate data analysis reports. There are many other IDEs or front ends as well that one can use to write python code.

Also, it is cell based, meaning that the entire environment is broken down into cells where we can write code and write explanations. This kind of file that has python code and is broken down into cells like this has the extension `.ipynb` or `ipython notebook`.

Each cell in jupyter has 2 states and 3 different modes.

2 states

    - command state (esc) - manipulate or move around the file as a whole
    - edit state (enter) - is to enter a particular cell
    
    
3 modes

    - Markdown mode ( stylized text )
    - code mode ( write python )
    - RawNBConvert ( regular text, plain text)
    
    
    
shortcuts

changing the mode

    first come to the command state
    
        Markdown - esc + m
        code - esc + y
        RawNBconvert - esc + r
        
        
other shortcuts

        add a cell below - esc + b
        add a cell above - esc + a
     
        delete cell - esc + dd
        
        
        copy - esc + c
        paste - esc + v
        cut - esc + x
        
        
execute cell

           shift + enter ( execute the current cell and move the control to the cell below )
           ctrl + enter ( execute the current and stay with the current cell )
           
           
Each cell can only exist in one particular mode at a time.

In [22]:
# in python, comments can be given using #
# python doesn't support multi line comments

## Intro to python

While learning any programming language, we will need some core concepts. These include the following

- variables
- operators
- data types
- data structures
- functions
- control flow statements
    
    - loops
    - if else ...
    
    
- objects and classes (object oriented programming)
- Identifier Naming convention
- exception handling or error handling
- file handling
- packages

# The 5 heading styles in Jupyter Markdown mode

# Variables
## Variables
### Variables
#### Variables
##### Variables
###### Variables

<h1> Variables </h1>
<h2> Variables </h2>
<h3> Variables </h3>
<h4> Variables </h4>
<h5> Variables </h5>
<h6> Variables </h6>

## Variables

What are variables?

container in memory that holds some information. any information, when you wish to store it in memory must be stored
as a variable.

It is created using the `=` sign and just assigning the information to be stored a `name`.

In [1]:
## give a name on the left side,, give an = sign, and the information to be stored on the right
var1 = 2

In [2]:
# use the print function to see what is inside the variable
print(var1)

2

In [3]:
var1 = 2
var2 = 3.14
var3 = 'hello world'   ## for strings either use single quotes or double quotes

In [4]:
var3

'hello world'

In [7]:
var4 = "hello word2" ## double quotes are also fine

In [8]:
var4

'hello word2'

In [44]:
## one exception to this rule of using single or double quotes
## when a single quote or a double is appearing inside the string itself. for example, `python's lecture 1`


## \ works as an escape character
## whatever comes next, ignore the meaning of it.
var5 = 'python\'s class'

In [45]:
var5

"python's class"

In [9]:
## storing multiline strings in a variable

var6 = """Jewellers in India, the world's second largest 
gold consuming country after China, have started receiving m
ore inquiries for purchase of gold or silver immediately after 
the Reserve Bank's announcement to withdraw ₹2,000 notes from circulation.
ers body GJC said on Sunday.'"""

In [10]:
var6

"Jewellers in India, the world's second largest \ngold consuming country after China, have started receiving m\nore inquiries for purchase of gold or silver immediately after \nthe Reserve Bank's announcement to withdraw ₹2,000 notes from circulation.\ners body GJC said on Sunday.'"

In [11]:
var7 = '''select * from table_name 
where column_name = Delhi'''

In [12]:
print(var7)

select * from table_name
where column_name = Delhi

In [14]:
# python is a dynamically typed language meaning that it does not require us to
## specify the data type of the information being stored in a variable

## Other languages do

## Python avoids this by itself interpreting what datatype it should assign to a
## variable

## to check the type of a variable itself assigned by python, using type() function

type(var7)

str

In [ ]:
print(type(var1))

In [15]:
print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'float'>
<class 'str'>