In [11]:
var1 = 2
var2 = 3.14
var3 = 'hello world'  ## both single and double quotes are fine

In [14]:
print(var1)
print(var2)
print(var3)

2
3.14
hello world

## INC rules - Identifier Naming Convention

1. the names can be alphanumeric. However, they can't start with a numeric
2. No special characters allowed. The only exception to this rule is the underscore (_). Evern underscore. we usually 
use to denote spaces in  the variable's name

3. The names can't be existing keywords. for example, python already has a meaning assigned to `print`. So, you shouldn't create a variable that is named `print`.  However, even if we try to create a variable with the name print, it won't throw an error here. As a programmer, you will need to be wary of this.

4. Python is extremely case sensitive. Most of the pre exsting functions or keywords are written in small case. there
are exceptions

In [4]:
var1 = 2

In [6]:
var_1 = 2

In [7]:
interest_rate = 0.1

In [8]:
print = 'hello'

In [9]:
print

'hello'

In [13]:
del print  ## del is a command

In [15]:
Var = 1
var = 'hello'

In [16]:
Var

1

## Data types

In SQL, there are many data types available to us as all these data types help us manage our memory better.

char, varchar, blob, nvarchar, nchar
int, tinyint, smallint, bigint,
float, double
date
boolean

Python, however, was not built to be a data science tool. It only provides 4 basic data types to us. To get more data types
we will need to import some additional packages/libraries.


`int`

`str`

`float`
 
`bool` - `True` or `False`

If we want to check the data type assigned to a variable by python, use the `type()` function

Basic Python also has 4 type conversion functions which go by the same as the data types.

`int()` - float or bool to integers. with respect to strings, only numbers which are currently being interpreted as strings

`float()`

`str()` - anything can be converted to a string.

`bool()` - won't have the desired effect for a string. If a string has anything at all in it, it will just return `True`

In [24]:
var1 = 2
var2 = 2.4
var3 = 'hello word'
var4 = True

In [19]:
type(var1)

int

In [20]:
type(var2)

float

In [21]:
type(var3)

str

In [22]:
type(var4)

bool

In [25]:
'1'

'1'

In [27]:
print(var2)
print(type(var2))

2.4
<class 'float'>

In [30]:
var2 = int(var2)

In [31]:
print(var2)

2

In [33]:
str(var1)

'2'

In [38]:
int('123.4')  ## int wont' recognize the dot '.' automatically

ValueError: invalid literal for int() with base 10: '123.4'

In [37]:
int(float('123.4'))

123

In [39]:
var4

True

In [40]:
int(var4)

1

In [42]:
var1, var2, var3, var4 = 2, 2.4, 'hello word', True

In [60]:
var5 = 'False'
var6 = ''

In [61]:
bool(var5)

True

In [62]:
bool(var6)

False

In [67]:
var1 = '0'

In [68]:
bool(var1)

True

## using the print() function to print some dynamic messages

1. `.format()`
2. just use commas to separate out text from variables
3. `f strings`

In [72]:
interest_rate = 0.2

print('The interest rate currently is ', interest_rate)

The interest rate currently is  0.2

In [73]:
loan_amount = 10_000  ## just for readability
print(loan_amount)

10000

In [75]:
print('The interest rate currently is', interest_rate, 'and the loan amount currently is', loan_amount)
print('You interest amount comes out to be', interest_rate * loan_amount)

The interest rate currently is 0.2 and the loan amount currently is 10000
You interest amount comes out to be 2000.0

In [81]:
## f strings - format strings

print(f'The interest rate is {interest_rate} and the loand amount is {loan_amount}')

The interest rate is 0.2 and the loand amount is 10000

In [82]:
## .format()

print('The interest rate is {} and the loan amount is {}'.format(interest_rate,loan_amount))

The interest rate is 0.2 and the loan amount is 10000.0

## Operators in python

these are just symbols used to perform a certain operation

1. Assignment operator (=)

2. Arithmetic operators

    `+` `-`  `*`  `/`   `%`  `**`   `//` (integer division)
    
    
3. Relational operators / Conditional operators / Comparison operators

    `==`  `!=`  `>`  `<`   `>=`   `<=`
    
    ** always the output of these operators will be boolean in nature **
    
    
    multivalue contional operator `in`
    
    
4. Logical operators

    `and`   `or`    `not`
    
    bitwise logical operators
    
        `&`   `|`  `~`
        
        5.

In [87]:
2 + 3

5

In [88]:
4 - 5

-1

In [89]:
4 * 3

12

In [90]:
4 / 3

1.3333333333333333

In [91]:
4 // 3  ## integer division   int(4/3)

1

In [92]:
2 ** 3

8

In [93]:
3 == 4

False

In [94]:
3 == 3

True

In [95]:
3 < 4

True

In [96]:
3 != 3

False

In [99]:
3 ** 5

243

In [100]:
3 * 5

15

In [102]:
3 > 4 or 4 > 5

False

In [104]:
3 < 4 and 4 < 5

True

In [105]:
not 3 < 4

False

In [108]:
not 3 in (4, 5, 6)

True

In [113]:
3 == '3'

False

In [112]:
3 not in ('3', 3, '4', '5', '6')

True

In [114]:
3 % 2

1

## Operator precedence

`B` - Brackets 

`O` - order ( power )

`D` `M` - Both division and multiplication have the same precedence, but the execution happens left to right

`A` `S` - Addition and subtraction both have the same precedence, but the execution happens left to right

In [120]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

In [ ]:
## 5 + 4 * 9 % (3 + 1) / 6 - 1
## 5 + 4 * 9 % 4 / 6 - 1
## 5 + 36 %  4 / 6  - 1
## 5 + 0 // 6 - 1
## 5 + 0.0 - 1
## 4.0

In [116]:
36 % 4

0

In [118]:
36 // 4

9

In [123]:
36 % ( 4 / 6)

1.9984014443252818e-15

In [121]:
4 / 6

0.6666666666666666

## taking input from the user

use the `input()` function to take inputs from the user

always returns the value entered as a string.

In [124]:
input()

34561234asdfddfdfd

'34561234asdfddfdfd'

In [133]:
input()

45

'45'

In [131]:
3 + 4

7

In [132]:
var4 = 5

In [134]:
input('Please enter a number')

Please enter a number34

'34'

In [142]:
user_input = int(input('Please enter your age'))

Please enter your age30

In [143]:
user_input = int(user_input)

'30'

In [144]:
int user_input

SyntaxError: invalid syntax (<ipython-input-144-9784ded1f008>, line 1)

In [ ]:
interest_rate = 0.1

In [146]:
## ask the user to enter a loan amount and an interest rate
## return the interest amount

loan_amt = int(input('Please enter a loan amount: '))
interest_rate = float(input('Please enter the interest rate as a float value: '))

interest = loan_amt * interest_rate

print('Your interest amount is', int(interest))

Please enter a loan amount: 500000
Please enter the interest rate as a float value: 0.11
Your interest amount is 55000.0

In [147]:
int(interest_rate)

0

In [148]:
round(2.1455, 2)

2.15

## Control flow statements

1. Conditional statements

    `if elif else` block
    
    `ternary if`
    

2. Iterative statements or loops

    `for` loop
    
    `while` loop

In [149]:
## 1. Conditional statements

##     1. if elif else block

if condition/s:

    code...
    ...
    ....
    ..
    
elif condition/s:

    code...
    ...
    
    ...
    
    
else:

    code..
    
    ....
    
it is not mandatory to have else or elif. Only if will also work.

In [155]:
## check if a number is positive or not
## if positive: print `the number is positive`
## if negative: print 'the number is negative'

num = 7

if num > 0:
   
    print('The number is positive')
    
else:
    
    print('The number is not positive')

print('This is else')

The number is positive
This is else

In [158]:
## check if a number is positive or not
## if positive: print `the number is positive`
## if zero: print `the number is zero`
## if negative: print 'the number is negative'

num = int(input('enter a number '))
        
if num > 0:
    print('Number is Positive')
        
elif num == 0:
    print('Number is Zero')

else:
    print('Number is Negative')

enter a number -1
Number is Negative

In [162]:
## check if a number is even or odd. take the input from the user

num = int(input("Please enter a number"))

if num % 2 == 0:
    
    print('The number is even')

    
    
else:
    
    print('The number is odd')

Please enter a number4
The number is even

In [ ]:
## if the number is positive and even: print `positive and even`
## if the number is positive and odd: print `positive and odd`
## 0: print the number is zero and so on...

## using nesting

In [165]:
num = int(input("Please enter a number"))

if num > 0:
    
    if num % 2 == 0:
        
        print('Positive and even')
        
    else:
        
        print('Positive and odd')
        
        
elif num == 0:
    
    print('The number is zero')
    
    
else:
    
    if num % 2 == 0:
        
        print('Negative and even')
        
    else:
        
        print('Negative and odd')

Please enter a number0
The number is zero

In [166]:
0 % 2

0

In [ ]:
if num > 0 and num % 2 == 0:
    print('positive and even')
    
elif num > 0 and num % 2 != 0:
    print('positive and odd')
    
    
elif num == 0:
    print('number is zero')
    
    
elif num < 0 and num % 2 == 0:
    print('negative and even')
    
else:
    print('negative and odd')
    
# for and while loops
## question on if else