## tuple

A tuple is like a list. However, tuples are **immutable** in nature meaning that they cannot be changed or updated in the same memory location. However, they can be overwritten completely.

1. How to create
`()` `tuple()`

In [36]:
t1 = (1, 2, 'python', True, [1, 2, 3]) ## tuples are also heterogeneous

In [37]:
t1

(1, 2, 'python', True, [1, 2, 3])

In [38]:
print(type(t1))

<class 'tuple'>

In [39]:
t2 = tuple(range(11))  ## another way to create a tuple is to use type conversion

In [40]:
print(type(t2))

<class 'tuple'>

In [41]:
t2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

2. How to access elements from a tuple

Using the indexing and slicing syntax using `[]`

In [89]:
t3[0]

1

In [90]:
t3[-1]

6

In [91]:
t3[:3]

(1, 2, 3)

3. Updating elements in a tuple

**Not possible** since tuples are immutable.

In [43]:
t2[0] = 'world'

TypeError: 'tuple' object does not support item assignment

4. Methods of a tuple

In [94]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [45]:
t1

(1, 2, 'python', True, [1, 2, 3])

In [46]:
t1.count(1) ##

2

## `set`

keyless dictionary 
`{}` `set()`

syntax: `{ value1, value2, .... }`

sets will only store unique values and that too in an ascending order. These datastructures are the same as sets in Mathematics and can be used to do operations like `intersection`, `union`, `difference`, etc.

In [116]:
s1 = {1, 2, 3, 4}

In [117]:
print(type(s1))

<class 'set'>

In [47]:
s2 = {1, 1, 2, 2, 3, 3, 4, 4}

In [49]:
s2 ## a set will only store unique values and that too in an ascending order

{1, 2, 3, 4}

In [50]:
## Q1: Extract the unique items out of a list.

l1 = [1, 2, 2, 3, 4, 1, 2, 3]

In [51]:
list(set(l1))

[1, 2, 3, 4]

In [52]:
s4 = {'hello', 'hello', 1, 2, 3} ## sets are also heterogeneous. However, they cannot store other collections within them.

In [53]:
s4

{1, 2, 3, 'hello'}

In [54]:
## accessing elements is not possible in a set

In [55]:
s4[0] = 1

TypeError: 'set' object does not support item assignment

In [56]:
s4 = {1, 1, 'python', True}

In [57]:
s4

{1, 'python'}

### Methods of a set

In [58]:
print(dir(s4))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [59]:
a = {1, 2, 3}
b = {3, 4, 5}

In [60]:
## .union(), .intersection(), .difference()

In [61]:
a.union(b)

{1, 2, 3, 4, 5}

In [62]:
a.difference(b)

{1, 2}

In [63]:
b.difference(a)

{4, 5}

In [64]:
a.intersection(b)

{3}

In [143]:
a  ## these methods do not lead to any permanent change

{1, 2, 3}

In [144]:
b

{3, 4, 5}

In [65]:
a.intersection_update(b)  ## In order to make a permanent change, we have other methods available with _update added
                        ## to their names

In [66]:
a

{3}

## Functions

These are pieces of code that we can save in memory and then use and resuse them later.

There are 2 parts to a function:
    
1. Function definition: This is the definition where we create the logic of our function
2. Function call: Whenever now we need to use the function, we will need to call it.

syntax for function definition

`def function_name(argument1, argument2, argument2):
    logic
    return output`
    

    
    
2 ways to provide arguments in a function call
1. positional arguments
2. keyword arguments

In [67]:
## Q1: create a function to sum 2 numbers.

In [69]:
## function definition

def sum_2_nums(n1, n2):
    output = n1 + n2
    return output

In [70]:
## function call

sum_2_nums(1, 2)

3

In [71]:
## python is dynamically typed. So again we do not need to specify the types of arguments expected.

sum_2_nums('hello', 'world')

'helloworld'

In [163]:
sum_2_nums(4, 5.5)

9.5

### Default arguments

In [72]:
## By default all arguments are mandatory in nature. If the user skips an argument, they will get an error

sum_2_nums(4)

TypeError: sum_2_nums() missing 1 required positional argument: 'n2'

In [74]:
## To avoid this, we can provide default values to arguments in the function's definition

def sum_2_nums(n1, n2=10):  ## default values
    """this function takes in two numbers and returns their sum"""   ## docstring
    return n1 + n2

In [75]:
sum_2_nums(4)

14

In [76]:
## Please note that default arguments should always come after the mandatory arguments in a function definition.
## Otherwise, we will get an error.

def sum_2_nums(n1=5, n2):  ## default arguments cannot come before mandatory arguments
    return n1 + n2

SyntaxError: non-default argument follows default argument (<ipython-input-76-4e23530ccf48>, line 4)

### Keyword and positional arguments

In [77]:
def difference_2(n1, n2):
    return n1 - n2

In [78]:
difference_2(5, 2)  ## positional arguments where values are passed based on position

3

In [168]:
difference_2(2, 5)

-3

In [79]:
difference_2(n1=5, n2=2) ## keyword arguments where what values need to go to what argument is specified explicitly.

3

In [80]:
difference_2(n2=2, n1=5)

3

In [81]:
difference_2(n1=2, 5)  ## as a rule, always keyword arguments must come after positional arguments

SyntaxError: positional argument follows keyword argument (<ipython-input-81-402e88f9d6b3>, line 1)

In [82]:
difference_2(2, n2=5)

-3

In [83]:
difference_2(10, 7)

3

In [194]:
## Please ponder on the following:

## why positional arguments must come before keyword arguments?
## why default arguments always come towards the end?

In the above examples, we have specified how many arguments a function should expect by providing the arguments and their names in the function's definition. However, sometimes it is not possible to write down all the arguments in the function's definition either because we do not know how many arguments the user will enter.


Or, it can be possible that the function takes too many arguments to write them down manually in the function's definition.

In such scenarios, python provides us two important symbols: `*` and `**`.

`*args` - 0 or n positional arguments

`**kwargs` - 0 or n keyword arguments

<b> Please note here that args and kwargs are just variable names and can be anything as such. The important thing is that they should follow either `*` or `**` </b>

In [84]:
## create a function that sums any number of values that the user provides

def sum_dynamic(*args):  ## here please note that we do not know how many arguments to expect from the user
    return sum(args)

In [214]:
sum_dynamic(1, 2, 3, 4)

10

In [85]:
sum_dynamic(1, 2, 100, 1000, 150)

1253

In [86]:
sum_dynamic(1, 2)

3

In [87]:
## create a function that takes in a list and a number. Return to the user a new list where all the elements of 
## the list are added by that number.

def sum_list(lst, num):
    return [ var + num for var in lst ]

In [88]:
sum_list([1, 2, 3, 4], 10)

[11, 12, 13, 14]

## `None` data type

used to represent nothing in basic python.

### Functions continued.

In [1]:
## Q: Is it mandatory to have a return statement in a function's definition?

## Ans: return statement is not mandatory as such. However, functions are meant to be modules that take in an input 
## from the function's call and returns some output to the user. Therefore, we should always try to have our function
## return some value or output to the user.

In [2]:
## example of a function without a return statement

def print_hello():
    print('hello word')

In [3]:
print_hello()

hello word

### Questions on functions

In [4]:
## Q: create a function to check if a number is divisible by 2 and 3 both

In [12]:
## example of having more than one return statement in a function's definition

def isDivisibleBy2And3(num):
    
    if num % 2 == 0 and num % 3 == 0:
        
        return True
        
    else:
        
        return False

In [13]:
isDivisibleBy2And3(6)

True

In [14]:
# Q: create a function isPrime() that takes in a number and returns True if the number is Prime.
# Otherwise returns False.

In [21]:
def isPrime(num):

        
    
    for i in range(2, num):

        if num % i == 0:

            return False



    return True

In [17]:
isPrime(4)

False

In [18]:
isPrime(5)

True

## The concept of `*args` and `**kwargs`

used as placeholders when we are not sure how many arguments to expect from the user.

`*args` - 0 or n positional arguments. All the arguments provided by the user during the function call get passed
to the variable `args` as a **tuple**.

`**kwargs` - 0 or n keyword arguments. All the arguments provided by the user get passed to variable after ** as
a **dictionary**.

In [1]:
## *args

def sum_dynamic(*args):
    
    return sum(args)

In [2]:
sum_dynamic(1, 2, 3, 5, 1000)

1011

In [3]:
sum_dynamic(1, 2) ## because of *args, the number of arguments passed to the function are dynamic

3

In [33]:
## **args

def func2(**kwargs):
    return kwargs

In [35]:
func2(num1=1, num2=3) ## all the keyword arguments are passed to kwargs as a dictionary

{'num1': 1, 'num2': 3}

In [37]:
# Q: Create a function that calculates the area of a shape. The type of shape should also be passed by the user.

# triangle - 0.5 * base * height
# square - side ** 2
# circle - 3.14 * radius ** 2

In [4]:
def calculate_area(shape, **kwargs):
    
    if shape == 'triangle':
        
        return 0.5 * kwargs['base'] * kwargs['height']
    
    if shape == 'square':
        
        return kwargs['side'] ** 2

In [5]:
calculate_area('triangle', base=2, height=5)

5.0

In [6]:
calculate_area('square', side=4)

16

## `lambda functions`

- single line function
- anonymous in nature
- these are not even stored in memory

syntax:

`lambda arg1, arg2: output`

In [45]:
## create a lambda function to sum 2 numbers

lambda n1, n2: n1 + n2

## The concept of `map()` and `filter()`

A lambda function is of NO use by itself. But it is very useful when combined with some other functions.

Basic python provides two such functions that can be combined with lambda functions. These are:

1. `map()`

    syntax: `map(function_name, iterator)`
    
    used to map a particular function to all the values of an iterator.
    
    Here, the function that you can provide to map can be any of the following:
    
    - a system function (print(), type(), ... )
    - a user defined function
    - lambda function
    

2. `filter()`

    syntax: `filter(function_name, iterator)`
    
    used to filter values from an iterator based on True and False value.

In [7]:
## Q: Given the list l1, add 10 to each element of this list using map()

l1 = [5, 10, 15, 20, 25, 30]

In [8]:
## function that will be passed to map

def add_10(num):
    return num + 10

In [ ]:
print()

In [2]:
l1 = [1, 2, 3, 4, 5, 6]

## filter the even numbers out

list(filter(lambda x: x % 2 == 0, l1))

[2, 4, 6]

In [9]:
list( map(add_10, l1) )

[15, 20, 25, 30, 35, 40]

In [53]:
list( map( lambda x: x+10 , l1) )

[15, 20, 25, 30, 35, 40]

In [10]:
## Q: Given the list l1, filter elements greater than 15 using filter()

In [11]:
l1

[5, 10, 15, 20, 25, 30]

In [12]:
## filter numbers greater than 15

list( filter(lambda x: x > 15, l1 ) ) ## based on whether we get True or False for a particular element,
                                        ## elements are filtered. Only the ones with True values appear in the output

[20, 25, 30]

In [57]:
## filter numbers greater than 15 and less than 30

list( filter(lambda x: x > 15 and x < 30, l1 ) )

[20, 25]

In [59]:
5 > 15

False

In [60]:
list( map(lambda x: x > 15, l1) )  ## what happens if we use similar concept with map()

[False, False, False, True, True, True]

In [61]:
## Q: Given a list, use filter to filter out only integer values

In [63]:
l2 = ['python', 1, 2, [1, 2, 3]]

In [64]:
list( filter(lambda x: type(x) == int, l2) )

[1, 2]

## creating a module

2 extensions of python files
- `.ipynb` - cell like structure
- `.py` - proper end to end programs; also called **scripts**

Modules are `.py` files that can be imported into a separate file using the `import` statement in python. For example,
if we had a module named `module2.py` somewhere in the working directorty, we can import that file here as `import module2`. Notice that we do not provide the extension here.

3 popular ways of using the import statement

- `import package_name`

- `import package_name as alias_name`

- `from package import func_or_object_name`

Once a module is imported, if we wish to use anything from that module, we can access it using the `dot (.) operator`.

In [13]:
import module2

In [14]:
print(dir(module2))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'calculate_area', 'isDivisibleBy2And3', 'isPrime']

In [15]:
module2.isPrime(5)

True

In [16]:
## importing module2 with an alias

import module2 as m2

In [17]:
m2.isPrime(5)

True

In [18]:
## importing only the isPrime() from module2

from module2 import isPrime

In [20]:
isPrime(5) ## when importing a function or object directly, we do not need to use the dot operator syntax

True