## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [20]:
5 + 4 * 9 % 4 / 6 - 1

4.0

###### Step 1 : 5 + 4 * 9 % 4 / 6 - 1 
###### Step 2 :  5 + 36 % 4 / 6 - 1
###### Step 3 :  5 + 0 / 6 - 1
###### Step 4 :  5 + 0 - 1
###### Step 5 :  5 - 1

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [23]:
get_num = int(input("Enter any number greater than zero"))

if get_num % 2 == 0:
    print("The Number is Even")

else:
    print("The Number is Odd")

The Number is Odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [32]:
get_num = int(input("Enter any number greater than zero"))

for i in range(1,11):
    print(f'{i} X {get_num} = {i*get_num}')

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [41]:
for i in range(2000,3201):
    if (i%7 == 0) and (i%5 != 0):
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [14]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]  

dcount = dict()
for i in [type(dty) for dty in l1]:
    if i in  dcount:
        dcount[i] += 1

    else:
        dcount[i] = 1

In [15]:
dcount

{int: 5, str: 4, float: 1, bool: 1, NoneType: 1}

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [1]:
l1 =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [7]:
sum([i for i in l1 if type(i) in (float,int)])

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [1]:
l1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [2]:
for i in l1:
    if type(i) == str:
        print(i,end='-')

Py-10-SQL-John-

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [9]:
def my_func(l1):
    s_dict= {'sum_of_num': 0,'count_of_strs':0}
    for i in l1:
        if type(i) in (float,int):
            s_dict['sum_of_num'] += i

        elif type(i) in ('O',str):
             s_dict['count_of_strs'] += 1

    return s_dict

In [10]:
my_func([2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] )

{'sum_of_num': 21.5, 'count_of_strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [11]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

In [18]:
#loop
l1 = []
for i in li:
    if i%2 != 0:
        l1.append(i)
print(l1)

[5, 7, 97, 77, 23, 73, 61]

In [20]:
#List Comprehension
l2 = [i for i in li if i%2!=0]
print(l2)

[5, 7, 97, 77, 23, 73, 61]

In [21]:
l3 = list(filter(lambda x: x%2 != 0,li))
print(l3)

[5, 7, 97, 77, 23, 73, 61]

In [27]:
sum(l3)/len(l3)
max(l3)

97

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [28]:
def func2(l1):
    sum_l1 = sum(l1)
    count_l1 = len(l1)
    min_l1 = min(l1)
    mean_l1 = sum_l1/count_l1
    max_l1 = max(l1)
    return [sum_l1,count_l1,min_l1,mean_l1,max_l1]

In [29]:
func2([5, 7, 22, 97, 54, 62, 77, 23, 73, 61])

[481, 10, 5, 48.1, 97]

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [30]:
def area_of_shape(shape,**kwargs):
    if shape == 'circle':
       area = 3.14 * kwargs['radius']**2

    elif shape == 'triangle':
        area = 0.5* kwargs['base'] * kwargs['height'] 

    elif shape == 'square':
        area =  kwargs['side']**2

    return area

In [31]:
area_of_shape('circle',radius=5)

78.5

In [32]:
area_of_shape('square',side=5)

25

In [35]:
area_of_shape('triangle',base=5,height=10)

25.0

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [36]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

In [43]:
def func(l1,l2):
    out_dict = {'Matched':None,'Only in l1':None,'Only in l2':None}

    out_dict['Matched'] = set(l1).intersection(l2)
    out_dict['Only in l1'] = set(l1).difference(l2)
    out_dict['Only in l2'] = set(l2).difference(l1)

    return out_dict

In [44]:
func(l1,l2)

{'Matched': {'December', 'February', 'January', 'June'},
 'Only in l1': {'March', 'May', 'September'},
 'Only in l2': {'April', 'October'}}

Q13: write a UDF to check if a number is prime or not.

In [11]:
def check_prime(n):
    for i in range(2,n):
        if n%i == 0:
            return ("not Prime")
      
    return ("Prime")

In [16]:
check_prime(78)

'not Prime'

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [27]:
del input

In [32]:
number = int(input("Enter a number greater than 0"))
x = 1
for i in range(1,number):
    x *= number
    print(x,end=",")

5,25,125,625,

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [36]:
number = int(input("Enter a number greater than 0"))
result = dict()
for i in range(1,number+1):
    result[i] = i*i

print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [56]:
number = input()
l1 = number.split(",")
print(l1)

['34', '56', '78', '90']

In [60]:
number = input("Enter sequence of comma separated numbers")
l1 = number.split(",")
print(l1,tuple(l1),end=" ")

['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [70]:
l1 = [1,2,84,56,4,2,6]

In [71]:
sorted(l1)

[1, 2, 2, 4, 6, 56, 84]

In [65]:
words = input("Enter sequence of comma separated word")
l1 = words.split(",")
print(sorted(l1))

['bag', 'hello', 'without', 'world']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [12]:
sentence = input("Enter a Sentence")
sentence = sentence.split(" ")
sentence = set(sentence)
sentence = sorted(list(sentence))
print(sentence)

['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [28]:
words = input("Enter a sentence")
case_dict = {'UPPER CASE':0,'LOWER CASE':0}
for word in words:
    print
    if word.isupper():
        case_dict['UPPER CASE'] += 1

    elif word.islower(): 
        case_dict['LOWER CASE'] += 1
print(case_dict)

{'UPPER CASE': 1, 'LOWER CASE': 9}

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [45]:
def reverse_string(word):
    return word[::-1]

In [47]:
reverse_string('abcd123')

'321dcba'